/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------
HTML Redefine Tags
------------------------------ */

html {
	overflow-y: scroll;
}

body {
	font-size: 62.5%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	background: url(images/body_bg.png) repeat-x top #f5ecd4;
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 0.8em;
}

h1, h2, h3, h4 {
	margin-top: 15px;		
	margin-bottom: 3px;
	
}

h1 {
	font-size: 2.2em;		
}

h2 {
	font-size: 1.9em;	
}

h3 {
	font-size: 1.6em;	
}

h4 {
	font-size: 1.4em;	
}

a { 
	color: #FA5200; 
	text-decoration: none; 
}

/* ------------------------------
PSEUDO-CLASSES
------------------------------ */

a:hover, a:active { 
	text-decoration: underline; 
}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

div#wrapper {
	width:860px;
	margin: 0 auto;
}

div#main-content {
	padding-bottom: 50px;
}

div#main-content div#left-col {
	padding-left: 30px;
	float: left;
	width: 425px;
}

div#main-content div#left-col ol {
	font-size: 1.3em;	
	margin-left: 25px;
	font-weight: bold;
	list-style: circle;
}	

div#right-col {
	display: block;
	float: left;
	margin-top: 50px;
	margin-left: 30px;
	background-image: url("images/ralfSpainStair.png");
	border: 2px solid black;
	width: 168px;
	height: 111px;
}	

div#footer {
	min-height: 35px;
	background: black;		
	padding: 17px 0 17px 0;		
	border-top: 8px solid #FA5200;
	border-bottom: 8px solid #FA5200;		
}

div#footer_wrapper {
	width: 820px;
	margin: 0 auto;
}

/* ------------------------------
NAVIGATION STRUCTURE
------------------------------ */

ul#nav {
	height: 236px;
	background: url(images/header_bg.png) no-repeat;
	list-style: none;
	padding-left: 50px;
}
ul#nav li {
	display: inline;
	font-size: 1.2em;
}
ul#nav li a {				
	display: block;
	border: 2px solid white;
	text-align: center;
	background-color: #FA5200;
	padding: 4px;
	width: 110px;
	float: left;
	margin-top: 184px;
	margin-left: 6px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;		
	text-decoration: none;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;		
}
ul#nav li a:hover, ul#nav li a:active {
	color: yellow;
}

/* ------------------------------
FOOTER STRUCTURE
------------------------------ */

div#copyright {	
	float: left;
	margin-left: 15px;	
	padding-top: 10px;
	color: white;		
	text-transform: uppercase;		
}

div#testerImg {
	float: right;
	margin-right: 50px;		
}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */

.clear { clear: both; }
