

/* ------------------------------
CUSTOM CLASSES and ID TAGS
------------------------------ */

.clear { clear: both; }


.gameOverFont, .welcomeMessage {
    font-family: Arial,Helvetica,sans-serif;
}
.gameOverFont {   
     font-size: 10px;
}

.debug {
    font-size: small;
}

.welcomeMessage {
    font-size: 12px;
}

#low a, #high a{
    display: block;
    color: white;
    font-weight:bold;
    font-size: 18px;
}

#streck{
    margin-top: 0;
    font-size: 24px;
}


#low{
     padding-right:14px; 
     padding-left:12px;
     padding-top: 4px;       
}

#high{     
    padding-left:11px;
    padding-top: 4px;     
}



.gameareaHangman {  
    width: 690px;
    height: 450px;
    float: left;
    border: solid white 6px;
    padding: 10px;
   
}

#formHangman{
    float: left;
    padding-left: 40px;
    padding-top: 200px;
}



form{
    width: 150px; 
}

input, textarea { 
	padding: 2px;
	border: solid 1px #E5E5E5;
        color:black;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 46px;
	background: #FFFFFF url('../hangman/bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

#svgHangman{
     float: right;
     padding-right: 100px;
     padding-top: 30px;
     padding-bottom: 20px;
}

#guessLetters{
    clear: both;    
}

#guessLetters h3, h4{
    margin-left: 40px;
    color:orange;
    border-bottom: none;
    letter-spacing: 1px;   
}



.inputGuess{
    
    
}

.submit input {
	width: auto;
	padding: 4px 8px;
	background: orange;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
